:root {
    --color-brand: #68B738;
    --color-header-bg: #65a93b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Oswald', Oswald;
    /*line-height: 2rem;*/
}

/*General*/
.layout {
    /*border: 1px solid red;*/
    /*поправил ширину для красоты*/
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
}

/*Navigation*/
.navigation {
    width: 100%;
}

.navigation_main {
    position: absolute;
    top: 53px;
}

.navigation_layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu_item {
    margin-right: 32px;
}

.menu_item:last-child {
    margin: 0;
}

.menu_item_link {
    text-transform: uppercase;
    color: #FFF;
    position: relative;
}

.menu_item_link:hover:after,
.menu_item_link.active:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
    bottom: -8px;
}

.menu_item_link.active {
    /*border-bottom: solid white;*/
}

.menu_item_link:hover {
    /*border-bottom: solid orange;*/
}

/* Header */
.header {
    height: 696px;
    display: flex;
}

.header_row {
    width: 50%;
}

.header_row_left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_row_right {
    display: flex;
    align-items: center;
    background-image: url(./img/index-background-desktop.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-color: var(--color-header-bg);
}

.header_img {
    margin-left: -8rem;
}



.navigation-links {
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    padding-right: 110px;
    padding-left: 110px;
}

a {
    text-decoration: none; /* Убираем подчёркивание */
}


.logo {
    vertical-align: middle;
}

.logo-text {
    text-transform: uppercase;
    margin-left: 1rem;
}

h1 {
    font-size: 60px;
}

.h3-header {
    size: 20px;
    text-transform: uppercase;
    margin-top: 1rem;
}

.bth-header {
    size: 20px;
    text-transform: uppercase;
    padding: 0.5rem;
    background-color: #68B738;
    color: #FFFFFF;
    margin-top: 1.5rem;
    border: 0;
}

.bth-header:hover {
    cursor: pointer;
}

h3 {
    size:20px;
}

header {
    display: block;
}
.section-1 {
    justify-content: center;
    display: block;
    margin-top: 53px;
}

.big-div {
    margin: 0px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    /*width: 570px;*/
    /*height: 374px;*/
}

.inline-block {
    display: inline-block;
}

.button-big-div {
    size: 20px;
    text-transform: uppercase;
    color: #000000;
    border: 0;
}

.text-24 {
    font-size: 24px;
    z-index: 2;
}

.div-section-3 {
    display: flex;
    flex-direction: column;
}

.z-index-1 {
    /*position: absolute;*/
    /*bottom: 0px;*/
    /*right: 0px;*/
    z-index: -1;
    color: #F2F2F2;
    /*margin-left: 150px;*/
    /*padding-bottom: 150px;*/
    font-size: 200px;
}

.section-2 {
    display: block;
}

.logo-cats1 {


}

.big-div-head {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center
}

/*.big-div-h2 {*/
/*    vertical-align: middle;*/
/*}*/

.space-between {
    display: flex;
    justify-content: space-between;
}

.big-div p {
    margin: 52px;
}

.big-div-name {
    display: flex;
    align-items: center;
    margin: 52px;
}

.section-1-p {
    /*display: flex;*/
    /*justify-content: space-evenly;*/
    font-size: 16px;
    margin-left: 16px;
}

.big-div-h2 {
    margin-left: 52px;
}

.big-div a {
    color: black;
    margin-left: 52px;
    text-transform: uppercase;
}

.img-arrow {
    margin-left: 28px;
}

.big-div-link {
    display: flex;
    align-items: center;
    margin-bottom: 59px;
}

.section-2 {
    margin-top: 71px;
}

.logos {
    width: 80px;
}

.section3-flex {
    display: flex;
    justify-content: space-between;
}

.text-16 {
    font-size: 16px;
}

.section-3-h1 {
    margin-bottom: 32px;
}

.margin-top-76 {
    margin-top: 76px;
}

.boris-text {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding-left: 110px;
    padding-top: 70px;
    font-size: 16px;
}

.section-3-block1 {
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    background-color: orange;
    height: 72px;
    width: 162px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.section-3-block1 p {
    margin: 15px 57px 20px 57px;
}

.boris-flex {
    display: flex;
    flex-direction: row;
}

.border-minus {
    margin-bottom: -30px;
    font-size: 10px;
    border: 0px;
    padding: 5px;
    background-color: red;
    height: 50px;
    width: 114px;
}

.boris-column {
    margin-top: 69px;
    column-gap: 80px;

    display: flex;
}

.boris-eat {
    margin-top: 25px;
}

.block-eat {
    display: flex;
    flex-direction: row;
}

.footer {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.social-network {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-network a {
    margin: 0 28px;
}

/*Card Info*/
.card-info-wrap {
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    column-gap: 80px;

    display: flex;
}
.card-info {
    background: #F2F2F2;
    width: 100%;
    padding: 47px 52px 59px;
}

.card-info-title-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.card-info-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.card-info-circle {
    width: 100px;
    height: 100px;
    background: #68B738;
    border-radius: 50%;
    margin-right: 62px;
    position: relative;
}

.card-info-description {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 27px;
}

.card-info-link {
    color: black;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.card-info-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.margin-32px {
    margin-bottom: 32px;
}

.small-card {
    padding: 40px 30px 5px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.small-card-square {
    width: 80px;
    height: 80px;
    background: #68B738;
    position: relative;
}

.small-card-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.small-card-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    margin-top: 31px;

    z-index: 100;

    position: relative;
    left: 0;
    top: -151px;
}

.test-z {
    display: flex;
    justify-content: space-between;
}

.test-zz {
    margin-left: 118px;
    font-size: 280px;
    z-index: -100;
    content: "";
}

.number {
z-index: 0;

}

.small-card-header {
    display: flex;
    /* margin-left: 48px; */
    justify-content: space-between;
}

.border-boris {
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    padding: 15px 57px 20px;
    position: relative;
}

.text-boris {
    text-transform: uppercase;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
}

.border-text {
    text-transform: uppercase;
    font-size: 10px;
    position: absolute;

    left: 50%;

    transform: translate(-50%, 0%);

    background-color: #F2F2F2;
}

.pitanie {
    text-transform: uppercase;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;

    display: flex;
    column-gap: 63px;



    /*margin-left: 110px;*/
    margin-top:35px;
    margin-bottom: 75px;
}